@page "/orders/order"
@using StoreBlazor.Client.Pages

@inherits OrderBase 
@inject IModalService modal
@inject NavigationManager NavigationManager


<h1>Here will be page with order</h1>


    <p><em>Loading...</em></p>




